@import './base.css';
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

#app {
  margin: 0;
  padding: 0;
}

#nav-bar {
  background-color: #bfbfbf;
  padding: 10px;
}

.content {
  margin: 0 320px;
  background-color: #f8f8f8;
}


.border-box {
  background-image: url("summer.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container {
  padding: 100px;
  text-align: center;
  min-width: 400px;
}

.image-grid {
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 /*grid-template-columns: auto auto auto;; !* Creates three columns with equal width *!*/
  padding: 10px;
}

.grid-item {
  text-align: center;

}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 15px;
}

.selected-item {
  border: 2px solid #29e829;
  box-shadow: 3px 2px deepskyblue;
}

img{
  border-radius: 20px;
}
p{
  font-family: cursive;

}

